.ring {
    width: 300px;
    height: 300px;
    border: 20px solid orange;
    border-radius: 100%;
    box-shadow: inset 10px 10px 10px #cc8400, 10px 10px 10px #cc8400;
}

.container {
    position: relative;
}

.ring-1 {
    z-index: 1;
    position: absolute;
    margin-left: 50px;
    width: 90px;
    height: 90px;
    border: 9px solid black;
    border-radius: 100%;
}

.ring-2 {
    z-index: 2;
    position: absolute;
    margin-left: 100px;
    width: 80px;
    height: 80px;
    border: 8px solid black;
    border-radius: 100%;
}

.ring-3 {
    z-index: 3;
    position: absolute;
    margin-left: 150px;
    width: 70px;
    height: 70px;
    border: 7px solid black;
    border-radius: 100%;
}

.ring-4 {
    z-index: 4;
    position: absolute;
    margin-left: 200px;
    width: 60px;
    height: 60px;
    border: 6px solid black;
    border-radius: 100%;
}

.ring-5 {
    z-index: 5;
    position: absolute;
    margin-left: 250px;
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius: 100%;
}

.ring-6 {
    z-index: 6;
    position: absolute;
    margin-left: 300px;
    width: 40px;
    height: 40px;
    border: 4px solid black;
    border-radius: 100%;
}